
body {
    background-color: rgb(192, 138, 192);
}

.chessborad {
    margin-top: 70px;
    border: 7px solid black;
    border-collapse: collapse;
    margin-left: 200px;
}

.chessborad td {
    width: 50px;
    height: 50px; 
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.black:hover {
    background-image: url(./horse-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.white:hover {
    background-image: url(./queen-removebg-preview\ \(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
}

div{
    margin-left: 700px;
    margin-top: -335px;
    font-family: Gill Sans (sans-serif);
}

span {
    color: white;
    background-color: black;
    padding: 5px 15px;
    margin: 4px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: Helvetica (sans-serif);
    font-weight: bold;
    font-size: 1.1em;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

span:hover {
    background-color: white;
    color: black;
}


img{
    margin-left: 400px;
    margin-top: -700px;
    
}